.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Starter {
  padding: 20px, 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  max-width: 600px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #333;
  transition: transform 0.2s;
  cursor: pointer;
}